{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
    <p>
        Меня зовут Богачев Михаил.
        По образованию я магистр <del>Йода</del> радиотехники.
        Именно во время обучения я имел честь прикоснуться к Python.
        Хотя этого и не должно было произойти.
        Но как нам известно, <mark>случайности не случайны</mark>. © Великий Мастер Угвэй
    </p>   
    <p> 
        И я начал свой путь в IT.
        Хоть он пока и не впечатляющий, но что есть, то есть.
    </p>
    <p>
        Первыми моими шагами в питоне можно считать его использование в дипломных проектах.
        Он послужил мне верным другом для обработки и визуализации данных, полученных с
        геостационарных спутников, для дальнешего анализа поведения ионосферы при
        солнечных вспышках.
    </p>
    <p>
        Во время работы по специальности, я продолжал изучать Python и его возможности в Data Science.
        Так продолжалось и во время моей первой работы в IT, а именно на должности бизнес-аналитика.
    </p>
    <p>
        Далее вектор моего интереса сместился к backend-у.
        И пошло, поехало. ООП, структуры данных, алгоритмы, работа с базами данных и т.д.
        И вот я здесь.
        На текущий момент я работаю BI-инженером. Имею практический опыт с SQL и BI инструментами.
        И продолжаю обучаться backend-разработке.
    </p>
    <h3>Ссылки</h3>
    <p>
        <ul>
            <li><a href="https://irkutsk.hh.ru/resume/50c29ebcff040a8e140039ed1f4b66384b7559">Резюме</a></li>
            <li><a href="https://github.com/MikhailBogachev">Github</a></li>
            <li><a href="https://leetcode.com/MikhailBogachev/">Leetcode</a></li>
        </ul>
    </p>
</p>
{% endblock %} 